{{ define "main" }}

<main>

  <div class="content">
    <div class="index-content framed">
      <h1 id="hello-there">{{.Site.Title}}</h1>
      <p>A chronological tour of the landmark deep-RL papers of the 2013&ndash;2019 era (from DQN on Atari to OpenAI Five) for novice researchers and hobbyists.</p>
      <div align="center">
        <a class="button" href="{{ "timeline/" | relURL }}">View</a>
        <a class="button" href="{{ "about/" | relURL }}">About</a>
      </div>

      <div class="video-container">
        <video src="{{ .Site.Params.video | relURL }}" autoplay loop muted playsinline></video>
      </div>

    </div>
  </div>

</main>

{{ end }}
